
<div style = "text-align : left; margin: 20px;">

  <% @users.each do |user| %>
  <br>
<div>
     <%= image_tag user.avatar.url(:thumb) %>
      <%= link_to "#{user.first_name} #{user.last_name}" , show_users_path(user) %>
      <%= user.email %>
      <% @user = user %>
      <%= render 'users/relationship_form'  %>

</div>

      <br>
  <% end %>

</div>
