@import "bootstrap";
@import "bootstrap-sprockets";



.navbar {
  background-color: #0C3A9B;
  height: 100px;
  .form-login {
    display: inline-block;
  }

  .log_label {
    color: #FFD700;
    margin-top:  5px;
    margin-bottom: -5px;
    font-weight: normal;
    padding-left: 1px;
  }
  .log_out {
    margin-top:  25px;
    color: #FFD700;
  }

}

#logo {
  color: #FFD700;
  font-size: 2.3em;
  padding-top: 15px;
  font-weight: bold;
  margin-left: 20px;
  float: left;
  &:hover {
    color: #FFD700;
    text-decoration: none;
  }

}

.SignUp {
  text-align: center;
}

.signin-field-whide {
  width: 380px;
}
