@import "bootstrap";
@import "bootstrap-sprockets";



.navbar {
  background-color: #4D70B8;
  height: 100px;
  .form-login {
    display: inline-block;
    margin-bottom: 0;
  }
  .log_label {
    color: #fff;
    margin-top:  5px;
    margin-bottom: -5px;
    font-weight: normal;
    padding-left: 1px;
  }

}

#logo {
  color: white;
  font-size: 2.3em;
  padding-top: 15px;
  font-weight: bold;
  margin-left: 20px;
  float: left;
  &:hover {
    color: white;
    text-decoration: none;
  }




}
