<header class = "navbar">
  <div class="container">
    <%= link_to "My_facebook", root_path, id: "logo" %>
    <nav>
      <ul class="nav  navbar-right">
        <%= render 'layouts/log_in' %>
      </ul>
    </nav>
  </div>
</heder>
