<header class = "navbar">
  <div class="container">
    <%= link_to "My facebook", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
        <%= render 'layouts/log_in_navigate' %>
        <% else %>
        <%= render 'layouts/log_out_navigate' if @index %>
        <% end %>
      </ul>
    </nav>
  </div>
</heder>
